//- includes/head.jade
head
    title
    meta(charset = "utf-8")
    //Все скрипты подключаются перед закрытием <body> (includes/footer.jade)
    link(rel='stylesheet' type='text/css' href='css/main.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
